<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationUrl" value="https://www.golden1.com" />
    <add key="Browser" value="Chrome" />
    <add key="ImplicitWait" value="30" />
    <add key="ExplicitWait" value="30" />
    <add key="Environment" value="QA" />
  </appSettings>
</configuration>