<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Application Settings -->
    <add key="ApplicationUrl" value="https://www.golden1.com/" />
    <add key="Browser" value="Chrome" />
    
    <!-- Wait Settings -->
    <add key="ImplicitWait" value="10" />
    <add key="ExplicitWait" value="20" />
    <add key="PageLoadTimeout" value="30" />
    
    <!-- Browser Settings -->
    <add key="HeadlessMode" value="false" />
    <add key="MaximizeWindow" value="true" />
    
    <!-- Reporting Settings -->
    <add key="ScreenshotPath" value="Screenshots" />
    <add key="ReportPath" value="Reports" />
    
    <!-- Test Data Settings -->
    <add key="TestDataPath" value="TestData" />
  </appSettings>
</configuration>